In [46]:
### correct one 


import pandas as pd
df=pd.read_csv(r"C:\Users\sakth\Downloads\synthetic_insurance_data_no_encoding.csv")
import warnings
warnings.filterwarnings("ignore")

In [48]:
df

,Age,Annual_Income,Claim_History,Risk_Score,Fraud_Label,Premium_Amount,Claim_Amount,Policy_Type,Gender
0,58,181739,3,Medium,0,9677,19145,Health,Male
1,71,209192,5,Medium,0,11011,21151,Property,Female
2,48,144961,5,Low,0,7914,14251,Life,Male
3,34,101258,4,Low,0,5484,10944,Property,Female
4,62,181607,6,Low,0,9677,17613,Property,Male
...,...,...,...,...,...,...,...,...,...
4995,22,69058,1,Low,0,4106,8874,Property,Female
4996,47,145376,5,Medium,0,7458,15516,Life,Male
4997,25,81710,1,Low,0,4572,9679,Property,Male
4998,63,194882,6,Low,0,10397,17706,Health,Male
4999,63,185141,5,Low,0,9948,18600,Life,Male

In [50]:
X=df[['Age','Annual_Income','Claim_History','Claim_Amount','Fraud_Label','Premium_Amount','Policy_Type','Gender']]

In [52]:
X

,Age,Annual_Income,Claim_History,Claim_Amount,Fraud_Label,Premium_Amount,Policy_Type,Gender
0,58,181739,3,19145,0,9677,Health,Male
1,71,209192,5,21151,0,11011,Property,Female
2,48,144961,5,14251,0,7914,Life,Male
3,34,101258,4,10944,0,5484,Property,Female
4,62,181607,6,17613,0,9677,Property,Male
...,...,...,...,...,...,...,...,...
4995,22,69058,1,8874,0,4106,Property,Female
4996,47,145376,5,15516,0,7458,Life,Male
4997,25,81710,1,9679,0,4572,Property,Male
4998,63,194882,6,17706,0,10397,Health,Male
4999,63,185141,5,18600,0,9948,Life,Male

In [54]:
Y=df[['Risk_Score']]

In [56]:
Y

     Risk_Score
0        Medium
1        Medium
2           Low
3           Low
4           Low
...         ...
4995        Low
4996     Medium
4997        Low
4998        Low
4999        Low

[5000 rows x 1 columns]

In [62]:
from sklearn.preprocessing import LabelEncoder,OneHotEncoder
ohe = OneHotEncoder(sparse_output=False)  
policy_encoded = ohe.fit_transform(X[['Policy_Type']])
policy_df = pd.DataFrame(policy_encoded, columns=ohe.get_feature_names_out(['Policy_Type'])).astype(int)
X = X.drop(columns=['Policy_Type']).reset_index(drop=True)
X = pd.concat([X, policy_df], axis=1)
gender_encoded=ohe.fit_transform(X[['Gender']])
gender_df=pd.DataFrame(gender_encoded,columns=ohe.get_feature_names_out(['Gender'])).astype(int)
X=X.drop(columns=['Gender']).reset_index(drop=True)
X=pd.concat([X,gender_df],axis=1)

In [64]:
X

,Age,Annual_Income,Claim_History,Claim_Amount,Fraud_Label,Premium_Amount,Policy_Type_Health,Policy_Type_Life,Policy_Type_Property,Gender_Female,Gender_Male,Gender_Other
0,58,181739,3,19145,0,9677,1,0,0,0,1,0
1,71,209192,5,21151,0,11011,0,0,1,1,0,0
2,48,144961,5,14251,0,7914,0,1,0,0,1,0
3,34,101258,4,10944,0,5484,0,0,1,1,0,0
4,62,181607,6,17613,0,9677,0,0,1,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...
4995,22,69058,1,8874,0,4106,0,0,1,1,0,0
4996,47,145376,5,15516,0,7458,0,1,0,0,1,0
4997,25,81710,1,9679,0,4572,0,0,1,0,1,0
4998,63,194882,6,17706,0,10397,1,0,0,0,1,0
4999,63,185141,5,18600,0,9948,0,1,0,0,1,0

In [66]:
Y

     Risk_Score
0        Medium
1        Medium
2           Low
3           Low
4           Low
...         ...
4995        Low
4996     Medium
4997        Low
4998        Low
4999        Low

[5000 rows x 1 columns]

In [68]:
from sklearn.preprocessing import MinMaxScaler
se=MinMaxScaler()
X_scaled=se.fit_transform(X)

In [70]:
from sklearn.model_selection import train_test_split
from sklearn.metrics import r2_score,classification_report
X_train,X_test,Y_train,Y_test=train_test_split(X_scaled,Y,test_size=0.2,random_state=42)

In [72]:
from sklearn.ensemble import RandomForestClassifier
modelclass = RandomForestClassifier(n_estimators=100, random_state=42)

modelclass.fit(X_train, Y_train)

RandomForestClassifier(random_state=42)

In [73]:
ypred=modelclass.predict(X_test)
full_report=classification_report(ypred,Y_test)

In [74]:
print(full_report)

              precision    recall  f1-score   support

        High       0.87      0.98      0.92       171
         Low       0.96      0.89      0.93       546
      Medium       0.89      0.94      0.91       283

    accuracy                           0.92      1000
   macro avg       0.91      0.94      0.92      1000
weighted avg       0.93      0.92      0.92      1000

In [78]:
X

,Age,Annual_Income,Claim_History,Claim_Amount,Fraud_Label,Premium_Amount,Policy_Type_Health,Policy_Type_Life,Policy_Type_Property,Gender_Female,Gender_Male,Gender_Other
0,58,181739,3,19145,0,9677,1,0,0,0,1,0
1,71,209192,5,21151,0,11011,0,0,1,1,0,0
2,48,144961,5,14251,0,7914,0,1,0,0,1,0
3,34,101258,4,10944,0,5484,0,0,1,1,0,0
4,62,181607,6,17613,0,9677,0,0,1,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...
4995,22,69058,1,8874,0,4106,0,0,1,1,0,0
4996,47,145376,5,15516,0,7458,0,1,0,0,1,0
4997,25,81710,1,9679,0,4572,0,0,1,0,1,0
4998,63,194882,6,17706,0,10397,1,0,0,0,1,0
4999,63,185141,5,18600,0,9948,0,1,0,0,1,0

In [80]:
import numpy as np
inputdata = (48	,144961,	5	,14251,	0,	7914,	0	,1	,0,	0,	1,	0)
inputdataasarray = np.asarray(inputdata)
inputdatareshaped = inputdataasarray.reshape(1,-1)
prediction = modelclass.predict((inputdatareshaped))
print(*prediction)

Medium

In [82]:
import pickle 
with open('insuranceClassification1.pkl','wb') as file:
    pickle.dump(modelclass,file)